@page
@using AbpDesk.Web.Mvc.Pages.App.Todo
@model IndexModel
<h2>TODO application!</h2>

<div id="TodoApp">
    <ol>
        <li v-for="todo in todos">
            {{ todo.name }}
        </li>
    </ol>
</div>

@section scripts {
    <script src="~/pages/app/todo/vendor.bundle.js"></script>
    <script src="~/pages/app/todo/todos.bundle.js"></script>
}